<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="sampleBuilder"
		name="Sample Project Builder"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="org.simplity.eclipse.plugin.validator.builder.SampleBuilder">
			</run>
		</builder>
	</extension>
	<extension
		id="sampleNature"
		name="Add Simplity Nature"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.simplity.eclipse.plugin.validator.builder.SampleNature">
			</run>
		</runtime>
		<builder id="org.simplity.eclipse.plugin.validator.sampleBuilder">
		</builder>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<category
			name="Simplity Project Nature commands"
            id="org.simplity.eclipse.plugin.validator.sampleNature.category">
		</category>
		<command
			name="Add/Remove Simplity Project Nature"
            defaultHandler="org.simplity.eclipse.plugin.validator.builder.AddRemoveSampleNatureHandler"
            categoryId="org.simplity.eclipse.plugin.validator.sampleNature.category"
            id="org.simplity.eclipse.plugin.validator.addRemoveSampleNature">
		</command>
	</extension>
	<extension
    	point="org.eclipse.ui.menus">
    	<menuContribution
    		locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
    		<command 
    			commandId="org.simplity.eclipse.plugin.validator.addRemoveSampleNature"
    			label="Disable Simplity builder"
    			style="push">
    			<visibleWhen checkEnabled="false">
	    			<with variable="selection">
	    				<count value="1">
	    				</count>
	    				<iterate>
	    					<adapt type="org.eclipse.core.resources.IProject">
	    						<test value="org.simplity.eclipse.plugin.validator.sampleNature"
	    							property="org.eclipse.core.resources.projectNature">
	    						</test>
	    					</adapt>
	    				</iterate>
	    			</with>
	    		</visibleWhen>
	    	</command>
	    	
	    	<command
	    		commandId="org.simplity.eclipse.plugin.validator.addRemoveSampleNature"
	    		label="Enable Simplity builder"
	    		style="push">
	    		<visibleWhen checkEnabled="false">
	    			<with variable="selection">
		    			<count value="1">
		    			</count>
		    			<iterate>
		    				<adapt type="org.eclipse.core.resources.IProject">
		    					<not>
		    						<test value="org.simplity.eclipse.plugin.validator.sampleNature"
		    							property="org.eclipse.core.resources.projectNature">
		    						</test>
		    					</not>
		    				</adapt>
		    			</iterate>
		    		</with>
		    	</visibleWhen>
		    </command>
		</menuContribution>
	</extension>
	<extension
		id="xmlProblem"
		name="XML Problem"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>

	<extension point = "org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution id="default">
			<public publicId="http://www.simplity.org/schema"
				uri="xsd/kernel.xsd"
				webURL="http://www.simplity.org/schema" />
		</catalogContribution>
	</extension> 

	<extension
    	point="org.eclipse.ui.newWizards">
    	<category
            id="simplity"
            name="Simplity"/>
		<wizard
			category="simplity"
            class="org.simplity.eclipse.plugin.validator.wizard.NewApplicationXmlWizard"
            descriptionImage="icons/wizards/newfile_wiz.gif"
            icon="icons/objects/x.gif"
            id="org.simplity.eclipse.plugin.validator.xmlfile.NewApplicationWizard"
            name="Simplity Application Xml"/>
        <wizard
			category="simplity"
            class="org.simplity.eclipse.plugin.validator.wizard.NewServiceXmlWizard"
            descriptionImage="icons/wizards/newfile_wiz.gif"
            icon="icons/objects/x.gif"
            id="org.simplity.eclipse.plugin.validator.xmlfile.NewServiceWizard"
            name="Simplity Service"/>
        <wizard
			category="simplity"
            class="org.simplity.eclipse.plugin.validator.wizard.NewRecordXmlWizard"
            descriptionImage="icons/wizards/newfile_wiz.gif"
            icon="icons/objects/x.gif"
            id="org.simplity.eclipse.plugin.validator.xmlfile.NewRecordWizard"
            name="Simplity Record"/>
	</extension>
	
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			id="org.simplity.eclipse.plugin.validator.hyperlink.DetectHyperlinks"
			targetId="org.eclipse.jdt.ui.javaCode"
			class="org.simplity.eclipse.plugin.validator.hyperlink.DetectHyperlinks"
			name="%detectRecord">
		</hyperlinkDetector>
	</extension>
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
		<target
			id="org.eclipse.jdt.ui.javaCode"
			name="Java Editor">
			<context type="org.eclipse.ui.texteditor.ITextEditor"/>
		</target>
	</extension>
	
	<extension point="org.eclipse.ui.views">
		<category
			name="Hello Category"
			id="org.simplity.eclipse.plugin.validator.view.SimplityProblemView">
		</category>
		<view
			name="Simplity Problems"
			icon="icons/sample.gif"
			category="org.simplity.eclipse.plugin.validator.view"
			class="org.simplity.eclipse.plugin.validator.view.SimplityProblemView"
			id="org.simplity.eclipse.plugin.validator.view.SimplityProblemView">
		</view>
	</extension>
	
	<extension point="org.eclipse.core.resources.markers"
		id="org.simplity.eclipse.plugin.validator.marker"
		name="Simplity Marker">
		<super type="org.eclipse.core.resources.textmarker"/>
		<super type="org.eclipse.core.resources.marker"/>
		<persistent value="true"/>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus"> 
		<viewerContribution 
		  	id="org.eclipse.ui.articles.action.contribution.popup.navigator"
			targetID="#CompilationUnitEditorContext"> 
			<action
			    class="org.simplity.eclipse.plugin.validator.marker.SimplityMarkerAction"
			    id="org.simplity.eclipse.plugin.validator.marker.simplitymarkeraction"
			    label="Create Simplity Marker"
			    menubarPath="additions">
			</action>
			<action
			    class="org.simplity.eclipse.plugin.validator.marker.SimplityFileMarkerCount"
			    id="org.simplity.eclipse.plugin.validator.marker.simplityfilemarkercount"
			    label="Count Markers"
			    menubarPath="additions">
			</action>
		</viewerContribution>
	</extension>
	
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Clarity.objectContribution2"
			objectClass="org.eclipse.jdt.core.IOpenable">
			<action
			   label="Count Simplity Markers"
			   class="org.simplity.eclipse.plugin.validator.marker.simplityfilesmarkercount"
			   menubarPath="additions"
			   id="org.simplity.eclipse.plugin.validator.marker.simplityfilesmarkercount">
			</action>
		</objectContribution>
	</extension>
	
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
		id="simplity annotation"
		name="SimplityAnnotation">
		<specification
			annotationType="org.simplity.eclipse.plugin.validator.marker.simplityannotation"
			label="SimplityAnnotation"
			icon="icons/sample.gif"
			overviewRulerPreferenceKey="clruler"
			overviewRulerPreferenceValue="true"
			colorPreferenceKey="clcolor"
			colorPreferenceValue="255,255,0"
			textPreferenceKey="cltext"
			textPreferenceValue="true"
			verticalRulerPreferenceKey="clvertical"
			verticalRulerPreferenceValue="true"
			textStylePreferenceKey="clstyle"
			textStylePreferenceValue="BOX">
		</specification>
	</extension>
	
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerSeverity="0"
			super="org.eclipse.ui.workbench.texteditor.info"
			name="org.simplity.eclipse.plugin.validator.marker.simplityannotation"
			markerType="org.simplity.eclipse.plugin.validator.simplitymarkers.simplitymarker"/>
	</extension>
	
	<extension point="org.eclipse.ui.editors.markerUpdaters">
		<updater
			id="org.simplity.eclipse.plugin.validator.marker.SimplityMarkerUpdater"
			class="org.simplity.eclipse.plugin.validator.marker.SimplityMarkerUpdater"
			markerType="org.simplity.eclipse.plugin.validator.simplitymarkers.simplitymarker">
		</updater>
	</extension>

</plugin>
